<div class="card-group">
  <div *ngFor="let product of products" class="card">
    <!-- Shfaq foton e produktit ose një foto alternative nëse s'ka foto -->
    <img 
      [src]=" 'https://images.unsplash.com/photo-1484788984921-03950022c9ef?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wfGVufDB8fDB8fHww'" 
      class="card-img-top" 
      [alt]="product.title"
    />

    <div class="card-body">
      <!-- Titulli i produktit -->
      <h5 class="card-title">{{ product.title }}</h5>
      <!-- Përshkrimi i produktit -->
      <p class="card-text">{{ product.description }}</p>
      <!-- Çmimi i produktit -->
      <p class="card-text">
        <strong>Çmimi: {{ product.price }} ALL</strong>
      </p>
      <p class="card-text">
        <small class="text-body-secondary">Përditësuar së fundmi</small>
      </p>
    </div>
  </div>
</div>
