<div class="container">
    <h2>User Management</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>City</th>
          <th>Zip Code</th>
          <th>Role ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.city }}</td>
          <td>{{ user.zipCode }}</td>
          <td>{{ user.roli }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  