.container {
  margin-top: 20px;
  padding-bottom: 50px; /* Add padding to prevent overlap with the footer */
}

.table {
  margin-bottom: 20px;
}

.update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form-group {
  width: 100%; /* Full width for each input */
  max-width: 400px; /* Limit the max width of the form inputs */
  margin-bottom: 15px; /* Space between form elements */
}

button {
  margin-top: 10px;
  width: 150px; /* Adjust width of the submit button */
}
