<app-website-header/>


<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://fixturic.com/cdn/shop/articles/zannyyvishal_Generate_a_captivating_headline_image_for_an_artic_30e1a281-8a83-4035-b29a-4c6a0c286c90.png?v=1705139017&width=1100" class="d-block w-100" alt="#">
        <div class="carousel-caption d-none d-md-block">
            <h5>WELCOME IN ELECTRONIC STORE</h5>
            <p>Teknologjia e fundit, çmimet më të mira!</p>
          </div> 
    </div>
      <div class="carousel-item">
        <img src="https://www.insurancethoughtleadership.com/sites/default/files/featured_images/AI-1.jpg" class="d-block w-100" alt="#">
        <div class="carousel-caption d-none d-md-block">
            <h5>WELCOME IN ELECTRONIC STORE</h5>
            <p>Elektronika që plotëson çdo nevojë – vetëm një klik larg!</p>
          </div> 
    </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<br>

<app-website-card/>

<br><br>
<app-website-footer/>