<div class="dashboard-layout">
  <!-- Sidebar with a toggle button at the top -->
  <div [ngClass]="{'sidebar': true, 'collapsed': sidebarCollapsed}">
    <button class="btn btn-primary toggle-button" (click)="toggleSidebar()">
      <span *ngIf="sidebarCollapsed">☰</span>
      <span *ngIf="!sidebarCollapsed">×</span>
    </button>
    <div *ngIf="!sidebarCollapsed" class="sidebar-content">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle fixed-width" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          User
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item"  (click)="showComponent('user')">Menaxho Userat</a></li>
          
        </ul>
      </div>
      <br>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle fixed-width" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Kategori
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item"  (click)="showComponent('listCategory')">Menaxho Kategorite</a></li>
        
        </ul>
      </div>
      <br>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle fixed-width" type="button" data-bs-toggle="dropdown" aria-expanded="false">
         Produkte
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item"  (click)="showComponent('product')">Menaxho Produkte</a></li>
        
        </ul>
      </div>

      <br>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle fixed-width" type="button" data-bs-toggle="dropdown" aria-expanded="false">
         Order
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item"  (click)="showComponent('order')">Menaxho Order</a></li>
        
        </ul>
      </div>
      <br>

      <!--Authors-->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle fixed-width" type="button" data-bs-toggle="dropdown" aria-expanded="false">
         Autoret
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item"  (click)="showComponent('author')">Menaxho Autor</a></li>
        
        </ul>
      </div>
    </div>
  </div>

  <!-- Main content area -->
  <div [ngClass]="{'main-content': true, 'collapsed-content': sidebarCollapsed}">
    <!-- Header -->
    <app-header></app-header>

    <div class="content">
      <app-user *ngIf="activeComponent === 'user'"></app-user>
      <app-category *ngIf="activeComponent === 'listCategory'"></app-category>
      <app-product  *ngIf="activeComponent === 'product'"></app-product>
      <app-order  *ngIf="activeComponent === 'order'"></app-order>
      <app-author  *ngIf="activeComponent === 'author'"></app-author>
     
      <!-- Add additional *ngIf blocks as needed for other components -->
    </div>

    <!-- Main Page Content -->
    

    <!-- Footer -->
    <app-footer></app-footer>
  </div>
</div>
